/** Responsive **/
@media screen and (max-width:1440px) {
    .nav-search {
        width: 500px;
    }
    .box{
        height: auto;
    }
    .box-img{
        height: 210px;
    }
    
}
@media screen and (max-width:1023px){
    .logo{
        width: 80px;
    }
    .add-first{
        font-size: 10px;
    }
    .nav-address{
        font-size: 0.70rem;
    }
    .nav-search {
        width: 300px;
    }
    .nav-first {
        font-size: 0.65rem;
    }
    .nav-second {
        font-size: 0.80rem;
    }
    .nav-cart i {
        font-size: 20px;
    }
    .panel-deals {
         margin-right: 0px;
    }
    .panel-option {
          margin-left: 0px;
    }
    .hero-section{
         height: 280px;
    }
    .hero-msg{
          top: 220px ;
         left: 20px;
         font-size: 0.70rem;
    }

    .box{
         width: 44%;
    }
    .foot-panel2 ul a {
    font-size: 0.70rem;
}

}

@media screen and (max-width:764px) {

.nav-address {
    display: none;
}
.nav-signin{
display: none;    
}
.nav-return{
display: none;
}
.nav-cart {
    display: none;
}
.nav-search {
    width: 200px;
    height: 34px;
}
.logo {
    width: 100px;
}
.panel {
    display: none;
}
.hero-section {
    height: 150px;
}
.hero-msg {
    top: 100px;
    left: 15px;
    font-size: 0.60rem;
    width: 90%;
    padding: 0px 6px;
}
.box {
    width: 90%;
    margin: 20px 0px;
}
.foot-panel2{
    flex-direction: column;
    padding-left: 24px;
    height: auto;
   
    }
    .foot-panel2 ul a {
    font-size: 0.90rem;
    }
    .foot-panel2 ul p {
    font-size: 1.2rem;
}
.foot-panel2 ul {
    margin-bottom: 10px;
}

}